{{ $description := $.Site.Params.description }}
{{ with .Summary }}{{ $description = . }}{{ end }}
{{ with .Description }}{{ $description = . }}{{ end }}

<meta name="DC.Title" content="{{ .Title }}"/>
<meta name="DC.Subject" content="{{ $description }}"/>
<meta name="DC.Description" content="{{ $description }}"/>
<meta name="DC.Type" content="Text"/>
<meta name="DC.Source" content="{{ .Permalink }}"/>
<meta name="DC.Relation" content="{{ .Permalink }}"/>
<meta name="DC.Coverage" content="World"/>
<meta name="DC.Creator" content="{{ $.Site.Params.organization.name }}"/>
<meta name="DC.Publisher" content="{{ $.Site.Params.organization.name }}"/>
<meta name="DC.Contributor" content="{{ $.Site.Params.organization.name }}"/>
<meta name="DC.Rights" content="{{ $.Site.Params.organization.name }}"/>
<meta name="DC.Format" content="Digital"/>
<meta name="DC.Identifier" content="{{ .Permalink }}"/>
<meta name="DC.Language" content="{{ $.Site.Language.Lang }}"/>
<meta name="DC.Provenance" content="{{ $.Site.Params.organization.name }}"/>
<meta name="DC.RightsHolder" content="{{ $.Site.Params.organization.name }}"/>
<meta name="DC.AccrualPeriodicity" content="Weekly"/>
<meta name="DC.AccrualPolicy" content="Active"/>