{{ $x := (.context | default "") }}
{{ with ($x.Page.Resources.Match "storage/*") }}

<div class="article-body">
  <div class="row row-cols-1 row-cols-lg-2 g-3">
    {{ range . }}
    {{ if (in .MediaType.MainType "video") }}
    <div class="col">
      <div class="ratio ratio-16x9">
        <video src="{{ .RelPermalink }}" controls preload="auto"></video>
      </div>
      <div class="text-muted small">{{ .Name | path.Base }}</div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}