{{ $x := (.context | default "") }}
{{ $id := (printf "node-cover-%s" ($x.File.UniqueID | default "")) }}
{{ $img_int := (($x.Page.Resources.Match "storage/cover.*") | default "") }}
{{ $img_ext := ($x.Params.images | default (slice "https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3")) }}

{{ $width := ($x.Params.cover.image.width | default "1600") }}
{{ $height := ($x.Params.cover.image.height | default "900") }}
{{ $crop := ($x.Params.cover.image.crop | default "entropy") }}
{{ $fit := "crop" }}

<div id="{{ $id }}" class="cover-image carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner rounded">
    {{ with $img_int }}

    <!-- image-internal -->
    {{ if ((len $img_int) | lt 1) }}
    <div class="carousel-indicators">
      {{ range $key, $value := $img_int }}
      <button type="button" data-bs-target="#{{ $id }}" data-bs-slide-to="{{ $key }}" class="{{ if (eq $key 0) }}active{{ end }}" aria-label="Slide {{ $key }}"></button>
      {{ end }}
    </div>
    {{ end }}

    {{ range $key, $value := . }}
    {{ $src := $value }}
    {{ $thumb := ($src.Fill (printf "%sx%s %s" $width $height $crop)) }}
    {{ $filename := (.Name | path.Base) }}
    <div class='carousel-item {{ if (in $filename ".00.") }}active{{ end }}'>
      <img class="d-block w-100" src="{{ $thumb.RelPermalink }}" alt="Image"/>
    </div>
    {{ end }}
    <!-- / image-internal -->

    {{ else }}

    <!-- image-external -->
    {{ if ((len $img_ext) | lt 1) }}
    <div class="carousel-indicators">
      {{ range $key, $value := $img_ext }}
      <button type="button" data-bs-target="#{{ $id }}" data-bs-slide-to="{{ $key }}" class="{{ if (eq $key 0) }}active{{ end }}" aria-label="Slide {{ $key }}"></button>
      {{ end }}
    </div>
    {{ end }}

    {{ range $key, $value := $img_ext }}
    <div class="carousel-item {{ if (eq $key 0) }}active{{ end }}">
      {{ $url := urls.Parse $value }}
      {{ if (eq $url.Host "images.unsplash.com") }}
      <img class="d-block w-100"
           src="{{ $value }}?crop={{ $crop }}&amp;w={{ $width }}&amp;h={{ $height }}&amp;fit={{ $fit }}&amp;auto=format"
           srcset="
                  {{ $value }}?crop={{ $crop }}&amp;w=640&amp;h=360&amp;fit={{ $fit }}&amp;auto=format 640w,
                  {{ $value }}?crop={{ $crop }}&amp;w=768&amp;h=432&amp;fit={{ $fit }}&amp;auto=format 768w,
                  {{ $value }}?crop={{ $crop }}&amp;w=1024&amp;h=576&amp;fit={{ $fit }}&amp;auto=format 1024w,
                  {{ $value }}?crop={{ $crop }}&amp;w=1280&amp;h=720&amp;fit={{ $fit }}&amp;auto=format 1280w,
                  {{ $value }}?crop={{ $crop }}&amp;w=1600&amp;h=900&amp;fit={{ $fit }}&amp;auto=format 1600w
                  "
           sizes="(min-width: 576px) 100vw"
           alt="{{ $value }}"/>
      {{ else }}
      <img class="d-block w-100" src="{{ $value }}" alt="{{ $value }}"/>
      {{ end }}
    </div>
    {{ end }}
    <!-- / image-external -->

    {{ end }}
  </div>

  <!-- buttons-control -->
  {{ if ((or (len $img_int) (len $img_ext)) | lt 1) }}
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ $id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{ i18n "previous" }}</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ $id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{ i18n "next" }}</span>
  </button>
  {{ end }}
  <!-- / buttons-control -->

</div>