{{ $x := (.context | default "") }}
{{ $id := ($x.File.UniqueID | default "") }}
{{ $imgINT := (($x.Page.Resources.Match "storage/cover.*") | default "") }}
{{ $imgEXT := ($x.Params.images | default (slice "https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3")) }}

{{ $width := ($x.Params.cover.image.width | default "1600") }}
{{ $height := ($x.Params.cover.image.height | default "900") }}
{{ $crop := ($x.Params.cover.image.crop | default "entropy") }}
{{ $fit := "crop" }}

<div id="cover-controls-{{ $id }}" class="cover-image carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner rounded">
    {{ with $imgINT }}

    <!-- image-internal -->
    {{ range . }}
    {{ $src := . }}
    {{ $thumb := ($src.Fill (printf "%sx%s %s" $width $height $crop)) }}
    {{ $filename := (.Name | path.Base) }}
    <div class='carousel-item {{ if in $filename ".00." }}active{{ end }}'>
      <img class="d-block w-100" src="{{ $thumb.RelPermalink }}" alt=""/>
    </div>
    {{ end }}
    <!-- / image-internal -->

    {{ else }}

    <!-- image-external -->
    {{ range $key, $value := $imgEXT }}
    <div class="carousel-item {{ if eq $key 0 }}active{{ end }}">
      {{ $url := urls.Parse $value }}
      {{ if (eq $url.Host "images.unsplash.com") }}
      <img class="d-block w-100" src="{{ $value }}?crop={{ $crop }}&amp;w={{ $width }}&amp;h={{ $height }}&amp;fit={{ $fit }}&amp;auto=format" alt="{{ $value }}"/>
      {{ else }}
      <img class="d-block w-100" src="{{ $value }}" alt="{{ $value }}"/>
      {{ end }}
    </div>
    {{ end }}
    <!-- / image-external -->

    {{ end }}
  </div>

  <!-- buttons-control -->
  {{ if ((or (len $imgINT) (len $imgEXT)) | lt 1) }}
  <button class="carousel-control-prev" type="button" data-bs-target="#cover-controls-{{ $id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{ i18n "previous" }}</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#cover-controls-{{ $id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{ i18n "next" }}</span>
  </button>
  {{ end }}
  <!-- / buttons-control -->

</div>