.navbar-collapse-canvas {
  position: fixed;
  top: 56px;
  bottom: 0;
  right: 0;
  width: 20rem;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  box-shadow: -.125rem .3rem .25rem rgba(0, 0, 0, .075);
  z-index: 9999;

  &.open {
    visibility: visible;
    transform: translateX(0);
  }
}