{{ $x := (.context | default "") }}
{{ $id := (printf "node-storage-tabs-%s" ($x.File.UniqueID | default "")) }}

{{ $images := 0 }}{{ $audio := 0 }}{{ $video := 0 }}{{ $docs := 0 }}{{ $files := 0 }}

{{ with ($x.Page.Resources.Match "storage/*") }}
{{ $files = 1 }}

{{ range . }}
{{ if (in .MediaType.MainType "image") }}{{ $images = 1 }}{{ end }}
{{ if (in .MediaType.MainType "audio") }}{{ $audio = 1 }}{{ end }}
{{ if (in .MediaType.MainType "video") }}{{ $video = 1 }}{{ end }}
{{ if (or (in .MediaType.MainType "text") (in .MediaType.SubType "pdf")) }}{{ $docs = 1 }}{{ end }}
{{ end }}

{{ end }}

<div class="d-flex align-items-start">
  <div id="{{ $id }}" class="ext-node-storage-tabs nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
    {{ if $files }}
    <button title='{{ i18n "files" }}' class="nav-link active" id="node-storage-files-tab" data-bs-toggle="pill" data-bs-target="#node-storage-files" type="button" role="tab" aria-controls="node-storage-files" aria-selected="true">
      <i class="fas fa-folder-open fa-fw"></i>
    </button>
    {{ end }}
    {{ if $images }}
    <button title='{{ i18n "images" }}' class="nav-link" id="node-storage-images-tab" data-bs-toggle="pill" data-bs-target="#node-storage-images" type="button" role="tab" aria-controls="node-storage-images" aria-selected="false">
      <i class="fas fa-images fa-fw"></i>
    </button>
    {{ end }}
    {{ if $audio }}
    <button title='{{ i18n "audio" }}' class="nav-link" id="node-storage-audio-tab" data-bs-toggle="pill" data-bs-target="#node-storage-audio" type="button" role="tab" aria-controls="node-storage-audio" aria-selected="false">
      <i class="fas fa-volume-up fa-fw"></i>
    </button>
    {{ end }}
    {{ if $video }}
    <button title='{{ i18n "video" }}' class="nav-link" id="node-storage-video-tab" data-bs-toggle="pill" data-bs-target="#node-storage-video" type="button" role="tab" aria-controls="node-storage-video" aria-selected="false">
      <i class="fas fa-film fa-fw"></i>
    </button>
    {{ end }}
    {{ if $docs }}
    <button title='{{ i18n "docs" }}' class="nav-link" id="node-storage-docs-tab" data-bs-toggle="pill" data-bs-target="#node-storage-docs" type="button" role="tab" aria-controls="node-storage-docs" aria-selected="false">
      <i class="fas fa-file-alt fa-fw"></i>
    </button>
    {{ end }}
  </div>
  <div class="tab-content flex-grow-1">
    {{ if $files }}
    <div class="tab-pane show active" id="node-storage-files" role="tabpanel" aria-labelledby="node-storage-files-tab">
      {{ partial "module/node/tab/storage/files" (dict "context" $x) }}
    </div>
    {{ end }}
    {{ if $images }}
    <div class="tab-pane" id="node-storage-images" role="tabpanel" aria-labelledby="node-storage-images-tab">
      {{ partial "module/node/tab/storage/images" (dict "context" $x) }}
    </div>
    {{ end }}
    {{ if $audio }}
    <div class="tab-pane" id="node-storage-audio" role="tabpanel" aria-labelledby="node-storage-video-tab">
      {{ partial "module/node/tab/storage/audio" (dict "context" $x) }}
    </div>
    {{ end }}
    {{ if $video }}
    <div class="tab-pane" id="node-storage-video" role="tabpanel" aria-labelledby="node-storage-video-tab">
      {{ partial "module/node/tab/storage/video" (dict "context" $x) }}
    </div>
    {{ end }}
    {{ if $docs }}
    <div class="tab-pane" id="node-storage-docs" role="tabpanel" aria-labelledby="node-storage-docs-tab">
      {{ partial "module/node/tab/storage/docs" (dict "context" $x) }}
    </div>
    {{ end }}
  </div>
</div>