{{ $x := .context | default "" }}
{{ with ($x.Page.Resources.Match "storage/*") }}

<div class="article-body">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {{ range . }}
    {{ if (in .MediaType.MainType "video") }}
    <div class="col mb-3">
      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" src="{{ .RelPermalink }}" controls preload="auto"></video>
      </div>
      <p class="text-muted small">{{ .Name | path.Base }}</p>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}