{{ $x := (.context | default "") }}
{{ $content := (.content | default $x.Content) }}
{{ $id := (printf "node-tabs-%s" ($x.File.UniqueID | default "")) }}

{{ $storage := 0 }}
{{ with ($x.Page.Resources.Match "storage/*") }}{{ $storage = 1 }}{{ end }}

<ul id="{{ $id }}" class="node-tabs nav nav-tabs mt-4 mb-3" role="tablist">
  <li class="nav-item" role="presentation">
    <button title='{{ i18n "article" }}' class="nav-link active" id="node-home-tab" data-bs-toggle="tab" data-bs-target="#node-home" type="button" role="tab" aria-controls="node-home" aria-selected="true">
      <i class="fas fa-home fa-fw"></i>
    </button>
  </li>
  {{ if $storage }}
  <li class="nav-item" role="presentation">
    <button title='{{ i18n "storage" }}' class="nav-link" id="node-storage-tab" data-bs-toggle="tab" data-bs-target="#node-storage" type="button" role="tab" aria-controls="node-storage" aria-selected="false">
      <i class="fas fa-hdd fa-fw"></i>
    </button>
  </li>
  {{ end }}
  {{ if (in $x.Type "post") }}
  <li class="nav-item" role="presentation">
    <button title='{{ i18n "info" }}' class="nav-link" id="node-info-tab" data-bs-toggle="tab" data-bs-target="#node-info" type="button" role="tab" aria-controls="node-info" aria-selected="false">
      <i class="fas fa-info fa-fw"></i>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button title='{{ i18n "comments" }}' class="nav-link" id="node-comments-tab" data-bs-toggle="tab" data-bs-target="#node-comments" type="button" role="tab" aria-controls="node-comments" aria-selected="false">
      <i class="fas fa-comments fa-fw"></i>
    </button>
  </li>
  {{ end }}
  {{ if (in $x.Type "authors") }}
  <li class="nav-item" role="presentation">
    <button title='{{ i18n "articles" }}' class="nav-link" id="node-articles-tab" data-bs-toggle="tab" data-bs-target="#node-articles" type="button" role="tab" aria-controls="node-articles" aria-selected="false">
      <i class="fas fa-book fa-fw"></i>
    </button>
  </li>
  {{ end }}
  <!-- node-languages -->
  {{ if $x.IsTranslated }}
  <li class="nav-item" role="presentation">
    <button title='{{ i18n "languages" }}' class="nav-link" id="node-lang-tab" data-bs-toggle="tab" data-bs-target="#node-lang" type="button" role="tab" aria-controls="node-lang" aria-selected="false">
      <i class="fas fa-language fa-fw"></i>
    </button>
  </li>
  {{ end }}
  <!-- / node-languages -->
  <!-- node-share -->
  <li class="nav-item ms-auto" role="presentation">
    <button title='{{ i18n "share" }}' class="nav-link" id="node-share-tab" data-bs-toggle="tab" data-bs-target="#node-share" type="button" role="tab" aria-controls="node-share" aria-selected="false">
      <i class="fas fa-share fa-fw"></i>
    </button>
  </li>
  <!-- / node-share -->
</ul>
<div class="tab-content">
  <div class="tab-pane show active" id="node-home" role="tabpanel" aria-labelledby="node-home-tab">
    {{ partial "module/node/tab/home" (dict "context" $x "content" $content) }}
  </div>
  {{ if $storage }}
  <div class="tab-pane" id="node-storage" role="tabpanel" aria-labelledby="node-storage-tab">
    {{ partial "module/node/tab/storage" (dict "context" $x) }}
  </div>
  {{ end }}
  {{ if (in $x.Type "post") }}
  <div class="tab-pane" id="node-info" role="tabpanel" aria-labelledby="node-info-tab">
    {{ partial "module/node/tab/info" (dict "context" $x) }}
  </div>
  <div class="tab-pane" id="node-comments" role="tabpanel" aria-labelledby="node-comments-tab">
    {{ partial "module/node/tab/comments" (dict "context" $x) }}
  </div>
  {{ end }}
  {{ if (in $x.Type "authors") }}
  <div class="tab-pane" id="node-articles" role="tabpanel" aria-labelledby="node-articles-tab">
    {{ partial "module/author/articles" (dict "context" $x) }}
  </div>
  {{ end }}
  <!-- node-languages -->
  {{ if $x.IsTranslated }}
  <div class="tab-pane" id="node-lang" role="tabpanel" aria-labelledby="node-lang-tab">
    {{ partial "module/node/tab/languages" (dict "context" $x) }}
  </div>
  {{ end }}
  <!-- / node-languages -->
  <!-- node-share -->
  <div class="tab-pane" id="node-share" role="tabpanel" aria-labelledby="node-share-tab">
    {{ partial "module/node/tab/share" (dict "context" $x) }}
  </div>
  <!-- / node-share -->
</div>